{{define "yield"}}
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-8 mb-24 shadow-md sm:rounded-lg sm:px-10">
            <div class="flex flex-row items-center justify-center gap-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 flex align-middle" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
                </svg>

                <h2 class="mt-6 mb-2 text-3xl font-bold text-gray-900 font-sans">
                    Check your inbox
                </h2>
            </div>
            <div class="sm:mx-auto sm:w-full sm:max-w-md mb-8 text-center">

                <p class="text-gray-600 mb-4 text-[17px]">
                    We've sent you an email message with a six-digit code to your <strong class="font-medium">{{.Email}}</strong> inbox.
                    Please enter the code to login to your account.
                </p>

                {{$action := "/code"}}
                <form action="{{prefixedPath $action}}" method="POST" class="mb-4">
                    <input type="hidden" name="email" value="{{.Email}}">
                    {{if ne .Error "" }}
                        <p class="bg-red-50 text-red-700 p-2 rounded border-red-800 mb-2">{{.Error}}</p>
                    {{end}}
                    <div class="mb-4 justify-center grid grid-cols-6 gap-2"
                        _="on keyup from .code
                            if event.code is 'ArrowLeft' or event.key is 'Backspace' then
                                if event.target.previousElementSibling is not undefined then
                                    event.target.previousElementSibling.focus()
                                end
                            else
                                if event.target.nextElementSibling is not undefined then
                                    event.target.nextElementSibling.focus()
                                end
                            end
                        end">

                        <input type="numeric" name="code[]" class="code text-[30px] py-4 text-center border rounded-lg" maxlength="1" autofocus>
                        <input type="numeric" name="code[]" class="code text-[30px] py-4  text-center border rounded-lg" maxlength="1">
                        <input type="numeric" name="code[]" class="code text-[30px] py-4 text-center border rounded-lg" maxlength="1">
                        <input type="numeric" name="code[]" class="code text-[30px] py-4 text-center border rounded-lg" maxlength="1">
                        <input type="numeric" name="code[]" class="code text-[30px] py-4 text-center border rounded-lg" maxlength="1">
                        <input type="numeric" name="code[]" class="code text-[30px] text-center border rounded-lg" maxlength="1">
                    </div>

                    <button type="submit" class="w-full flex justify-center py-3 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Login
                    </button>
                </form>

                <p class="text-sm text-gray-400">
                    {{$link := "/login"}}
                    Didn't get the message? Check your spam folder. Wrong email? <a href="{{prefixedPath $link}}" class="text-blue-600">Re-enter your address</a>
                </p>
            </div>
        </div>
    </div>
{{end}}
