<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{.Favicon}}" type="image/png">
    <link rel="stylesheet" href="{{.StylesPath}}">
    <title>{{.Title}}</title>
</head>
<body class="bg-gray-200 h-full min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    {{block "content" .}} {{end}}
</body>
</html>