<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ $length := len .Favicon }} {{ if gt $length 0 }}
    <link rel="icon" href="{{.Favicon}}" type="image/png">
    {{ end }}
    
    <link rel="stylesheet" href="{{.StylesPath}}">
    <title>Login</title>
</head>
<body class="bg-gray-200 h-full min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="text-center">
            <div class="mx-40 mb-6">
                {{ $length := len .Logo }} {{ if gt $length 0 }}
                    <img src="{{.Logo}}" alt="product logo" class="block">
                {{ end }}
            </div>

            <div class="sm:mx-auto sm:w-full sm:max-w-md mb-8 text-center">
                <h2 class="text-2xl mb-6 font-bold text-gray-900 font-sans">
                    Welcome Back 👋
                </h2>
            </div>

            {{ if ne .Error "" }}
                <div class="rounded bg-red-100 border border-red-300 py-3 px-8 text-red-500 mb-4" role="alert">
                    {{.Error}}
                </div>
            {{ end }}

        </div>
        

        <div class="bg-white py-12 px-4 mb-24 shadow-md sm:rounded-lg sm:px-10">
            <p class="text-gray-500 text-sm mb-4">
                Please enter the email address associated with your account, 
                our system will email an access link to that address upon successful 
                identification of your account.
            </p>

            <form class="space-y-4" action="{{.Action}}" method="POST">
                <input type="hidden" name="CSRFToken" value="{{.CSRFToken}}">
                <div>
                    <label for="email" class="block text-md font-medium text-gray-700">
                        E-mail
                    </label>
                    <div class="mt-1">
                        <input id="email" placeholder="Your account email" name="email" type="email" autofocus="true" autocomplete="email" required class="appearance-none block w-full px-4 py-4 border-gray-100 border-2 bg-gray-100 rounded-lg shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                </div>
        
                <div>
                    <button type="submit" class="w-full flex justify-center py-3 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Send me a login link
                    </button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>